In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Union,US,2021-09-23 01:17:57,40.6334,-74.2663,76.48,87,1,9.22
1,1,Marawi,PH,2021-09-23 01:17:57,7.9986,124.2928,71.65,71,41,2.10
2,2,Albany,US,2021-09-23 01:17:37,42.6001,-73.9662,73.67,83,54,11.43
3,3,Carutapera,BR,2021-09-23 01:17:58,-1.1950,-46.0200,80.11,75,45,9.35
4,4,Bluff,NZ,2021-09-23 01:17:58,-46.6000,168.3333,57.79,73,79,8.97

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [24]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=2)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
humidity = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=2)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=2)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=3)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [32]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Union,US,2021-09-23 01:17:57,40.6334,-74.2663,76.48,87,1,9.22
3,3,Carutapera,BR,2021-09-23 01:17:58,-1.1950,-46.0200,80.11,75,45,9.35
14,14,Hithadhoo,MV,2021-09-23 01:18:00,-0.6000,73.0833,83.26,73,98,16.04
16,16,Bull Savanna,JM,2021-09-23 01:18:01,17.8868,-77.5902,78.62,80,100,1.59
21,21,Mareeba,AU,2021-09-23 01:18:02,-17.0000,145.4333,76.44,51,0,10.98
26,26,Noumea,NC,2021-09-23 01:17:05,-22.2763,166.4572,78.78,57,59,12.08
28,28,Mandera,KE,2021-09-23 01:18:03,3.9366,41.8670,76.62,69,79,16.08
30,30,Kahului,US,2021-09-23 01:18:03,20.8947,-156.4700,85.26,71,40,25.32
36,36,Butaritari,KI,2021-09-23 01:18:05,3.0707,172.7902,83.01,66,98,12.77
49,49,Madang,PG,2021-09-23 01:18:08,-5.2246,145.7966,79.65,83,88,4.83

In [33]:
preferred_cities_df.count()

City_ID       194
City          194
Country       194
Date          194
Lat           194
Lng           194
Max Temp      194
Humidity      194
Cloudiness    194
Wind Speed    194
dtype: int64

In [34]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0          Union      US     76.48  40.6334  -74.2663
3     Carutapera      BR     80.11  -1.1950  -46.0200
14     Hithadhoo      MV     83.26  -0.6000   73.0833
16  Bull Savanna      JM     78.62  17.8868  -77.5902
21       Mareeba      AU     76.44 -17.0000  145.4333
26        Noumea      NC     78.78 -22.2763  166.4572
28       Mandera      KE     76.62   3.9366   41.8670
30       Kahului      US     85.26  20.8947 -156.4700
36    Butaritari      KI     83.01   3.0707  172.7902
49        Madang      PG     79.65  -5.2246  145.7966

In [38]:
from config import g_key
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.

    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [46]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Union,US,76.48,40.6334,-74.2663,Homewood Suites by Hilton Newark-Cranford
3,Carutapera,BR,80.11,-1.1950,-46.0200,Lidera
14,Hithadhoo,MV,83.26,-0.6000,73.0833,Scoop Guest House
16,Bull Savanna,JM,78.62,17.8868,-77.5902,Big Red's
21,Mareeba,AU,76.44,-17.0000,145.4333,Trinity Plains Tourist Park
...,...,...,...,...,...,...
546,Matadi,CD,75.43,-5.8167,13.4500,Hotel Vivi Palace
548,Jalu,LY,81.30,29.0331,21.5482,صاحبة الفخامة
552,Sanming,CN,82.63,26.2486,117.6186,Sanming Huangting Lijing Hotel
554,Dwarka,IN,80.89,22.2394,68.9678,Hotel Narayan Avezika Comfort
557,Jian,CN,85.17,27.1172,114.9793,Luling International Hotel

In [48]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))